<h1>Privacy Policy</h1>
<hr>
<h2><b><u>1. Information we collect</u></b></h2>
<br>
<ol type="A">
	<li>
		<h3><b>Personal data</b></h3>
		<br>
		<ul>
			<li>Email address for identity verification</li>
		</ul>
	</li>
	<li>
		<h3><b>Non-personal data</b></h3>
		<ul>
			<li>IP address</li>
		</ul>
	</li>
</ol>
<br>
<h2><b><u>2. How we use your information</u></b></h2>
<br>
<ol type="A">
	<li><p>We use your Email address to verify your account</p></li>
	<li><p>We keep your IP address for giving it to police for subpoena if you do something illegal</li>
</ol>
<br>
<h2><b><u>3. Cookies and tracking</u></b></h2>
<br>
<p>We use cookies to remember your preferences</p>
<h2><b><u>4. Your rights</u></b></h2>
<br>
<ol type="A">
	<li><p>You can access and update your account</p></li>
	<li><p>You cannot delete your account. We can give data associated with your account to police if they ask.</li>
</ol>
<h2><b><u>5. Age requirement</u></b></h2>
<br>
<p>This site is not made for people under the age of 18, please don't use it if you are a underage</p>

